h1{
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 4px 1px #000000;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

body {
    text-align: center;
    font-size: 24px;
    color: white;
    text-shadow: 2px 1px #000000;
    background-image: url('media/background.png');
    background-attachment: scroll;
    font-family: geo

  }

  .row{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  max-width: 25%;
}

@media (max-width: 992px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}