.row{
    display: flex;
    flex-wrap: wrap;
}
  
.column{
    flex: 25%;
    max-width: 25%;
    outline-style:auto;
    outline-color:black;
    outline-offset:1px;
    padding: 30px;
}


@media (max-width: 992px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}