@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$theme-colors: (
   "primary": rgb(0, 102, 255),
   "secondary": white,
   "success": grey,
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-grid-classes: true;
$enable-print-styles: true;
$spacer: 1rem !default;
$border-radius: 10rem;


@import "~bootstrap/scss/bootstrap.scss";
